.cards-container {
    background-color: #ff66b3;
    height: 200px;
    border: 2px solid gray;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding: 10px;
}

.cards-container-2 {
    background-color: #ff66b3;
    height: 200px;
    border: 2px solid gray;
    margin-top: 10px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    padding: 10px;
}

.cards-container-3 {
    background-color: #ff66b3;
    height: 600px;
    border: 2px solid gray;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.cards-container-4{
    background-color: #ff66b3;
    height: 600px;
    border: 2px solid gray;
    margin: 10px;
    display: flex;
    flex-direction: column-reverse;
    align-items:end;
    padding: 10px;
}
.cards-container-5{
    background-color: #ff66b3;
    height: 200px;
    border: 2px solid gray;
    margin: 10px;
    display: flex;
    align-items: start;
  justify-content: space-evenly;
    padding: 10px;
}